html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style-position: inside;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles */
html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
	padding: 1em;
	color: #fff;
	background: #0077B5;
}

.wrapper {
	max-width: 60em;
	margin:0 auto;
}

a:link {
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
}

a:visited {
	color: #fff;
	opacity: 0.7;
}

a:hover {
	opacity: 1;
}

a:active {
	opacity: 1;
}

h1, p, ul {
	margin: 0 0 1em;
	line-height: 1.45;
}

h1 {
	padding: 0;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	text-shadow:0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);

}

.tags {
	float: left;
}

p, ul {
	font-size: 2em;
}

ul {
	float: left;
	list-style-position: inside;
}

ul li {
	float: left;
	margin: 0 0.5em;
	list-style-type: disc;
}

footer {
	position: fixed;
	bottom: 1em;
	font-size:0.5em;
}

footer ul,
footer li {
	list-style-type: none;
}

footer a {
	font-size: 2em;
}

.copy {

}

.copy a {
	font-size: 1.2em;
}

.social-copy {
	float: left;
	margin: 0;
	line-height: 3em;
}

.social {
	float: left;
}

@media (max-width: 640px) {
	.tags, ul, ul li {
		float: none;
	}
	footer {
		position: static;
	}
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

::-moz-selection {
	color: #0077B5;
	background:#fff;
}

::selection {
	color: #0077B5;
	background:#fff;
}