@import 'compass';
@import 'compass/css3/animation';
@include global-reset();

$blue: #4882b2;
$dark-blue: #38688e;
$white: #fff;
$font-family: "Noto Sans", sans-serif;

@mixin center($max-width) {
	max-width: $max-width;
	margin: 0 auto;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

body {
	color: $white;
	background: $blue;
	font-size: 1em;
	font-family: $font-family;
	overflow-x:hidden;  
}

a:link {
	color: $white;
	text-decoration: none;
	@include opacity(0.7);
	@include single-transition(all, 0.5s, ease-in-out)
}

a:visited {
	@extend a:link;
}

a:hover {
	@extend a:link;
	@include opacity(1);
	text-decoration: underline;
}

a:active {
	@extend a:link;
	@include opacity(1);
}

p, ul {
	margin: 0 0 1em;
	line-height: 1.4em;
	font-size: 1.4em;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

::-moz-selection {
	color: $blue;
	background: $white;
}

::selection {
	color: $blue;
	background: $white;
}

#masthead {
	@include center(960px);
	margin-top: 2em;
	margin-bottom: 2em;

	img {
		width: 30%;
	}
}

.holder {
	position: absolute;
	left: 50%;
	top: 50%;
}

.loader {
	width: 8px;
	height: 8px;
	margin: 200px auto;
	opacity: 0.5;
	border-radius: 50%;
	box-shadow:
		0 -14px 0 rgba(0,0,0,0.8),
		10px -10px 0 rgba(0,0,0,0.7),
		14px 0px 1px rgba(0,0,0,0.6),
		10px 10px 1px rgba(0,0,0,0.5),
		0px 14px 2px rgba(0,0,0,0.4),
		-10px 10px 2px rgba(0,0,0,0.3),
		-14px 0px 3px rgba(0,0,0,0.2),
		-10px -10px 3px rgba(0,0,0,0.1);
	transform-origin: 50%;
	animation: load 0.5s steps(8, end) infinite;
}

@keyframes load {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}

#entry {
	@include animation-duration(0.8s);
}

article {

	header {
		margin: 0 0 2em;
		background: $dark-blue;

		.container {
			position: relative;
			@include center(960px);
			@include clearfix();
		}

		h1 {
			float: left;
			padding: 0.25em 0 0.3em;
			font-size: 4em;
			line-height: 1.2;
			text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

			span {
				display: block;
				margin: 0.5em 0;
				font-size: 0.25em;
			}
		}

	}

	.social-links {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0;

		li {
			float: left;
			display: block;
			margin: 0 0 0 2px;
		}

		a {
			width: 1em;
			display: inline-block;
			position: relative;
			padding: 12px;
			border: 2px solid $white;
			font-size: 2em;
			cursor: pointer;
			color: $dark-blue;
			background: $white;
			outline: none;
			text-decoration: none;
			text-align: center;
			@include single-transition(all, 0.3s);
			@include opacity(1);

			&:hover,
			&:active {
				color: $white;
				background: darken($dark-blue, 10%);
			}

		}

	}

	p {
		@include center(960px);
		margin-top: 1.4em;
		margin-bottom: 1.6em;
	}

	footer {
		@include center(960px);
		@include clearfix();

		p {
			margin: 0 1em 0.5em 0;
			float: left;
		}

		ul {
			float: left;
		}

		ul li {
			float: left;
			margin: 0 0.5em 0 0;
			list-style: disc;
			list-style-position: inside;
		}

		.references-copy {
			float: none;
			clear: both;
			margin: 0 0 0.5em 0;
		}

		ul.references li {
			clear: both;
			margin: 0;
		}

		ul.references li a {
			@include force-wrap();
		}

	}

}

#footer {
	margin: 16px 0 0;
	padding: 16px 0 0;
	font-size: 0.6em;
	border-top: 1px solid $dark-blue;

	.container {
		@include center(960px);
		@include clearfix();
	}

	.right, .left {
		width: 50%;
		float: left;
	}

	ul, li {
		list-style-type: none;
	}

	p {
		line-height: 2.8em;
		vertical-align: middle;
	}

	.right {
		text-align: right;

		p, ul, li {
			display: inline-block;
			float: none;
		}

		li {
			margin: 0 0.25em;
		}

		li a {
			color: $dark-blue;
			font-size: 2em;
		}

	}

}

@media (max-width: 960px) {

	#masthead,
	article header .container,
	article p,
	article footer,
	#footer {
		padding: 0 16px;
	}

	article footer p {
		padding: 0;
	}

}

@media (max-width: 800px) {

	body {
		font-size: 0.8em;
	}

	#masthead img {
		width: 100%;
	}

	article .social-links {
		font-size: 1em;
	}

	article footer p,
	article footer ul,
	article footer ul li {
		float: none;
		display: block;
		padding:0;
		margin:0;
		@include clearfix();

		list-style-type: disc;
	}

	article footer p,
	article footer ul {
		margin: 0 0 0.25em;
	}

	article footer ul {
		margin: 0 0 1em;
	}

	article footer ul li {
		@include force-wrap();
	}

	#footer .right,
	#footer .left {
		display: block;
		width: 100%;
		text-align: left;
	}

	.github-link {
		display: none;
	}

}