{
  "env": {
    "browser": true,
    "es6": true,
    "amd": true,
    "commonjs": true,
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "no-unexpected-multiline": 2
    // TODO: add more rules
  }
}