<header>
	<div class="container">
		<h1><%= title %></h1>
		<ul class="social-links">
			<li>
				<a class="icon ion-logo-twitter"
					href="https://twitter.com/intent/tweet?
					text=Did%20you%20know%20that%20%22<%= title %>%22%20is%20a%20greek%20word%3F%20&amp;
					url=http%3A%2F%2Fgreekintech.com%2F<%= id %>%2F<%= urlFriendlyTitle %>&amp;
					hashtags=greekintech"
					data-count="none">
				</a>
			</li>
			<li>
				<a class="icon ion-logo-facebook"
					href="https://www.facebook.com/sharer/sharer.php
					?u=http://greekintech.com/#entry/<%= id %>/<%= urlFriendlyTitle %>">
				</a>
			</li>
		</ul>
	</div>
</header>
<p><%= description %></p>
<footer>
	<p class="tags-copy">Tags: </p>
	<ul class="tags">
		<% _.each(categories, function(category) { %>
			<li><%= category %></li>
		<% }) %>
	</ul>

	<% if (!_.isEmpty(references)) { %>
		<p class="references-copy">References: </p>
		<ul class="references">
			<% _.each(references, function(reference) { %>
				<li><a href="<%= reference.source %>" target="_blank"><%= reference.name %></a></li>
			<% }) %>
		</ul>
	<% } %>
</footer>